#root {
    max-width: none;
}

.calendar-arrow {
    width: 2rem;
    height: 2rem;
    padding: 0;
    line-height: 100%;
}

.calendar-date,
.calendar-date-disabled,
.calendar-date-disabled-selected,
.calendar-date-selected {
    line-height: 100%;
    width: 2rem;
    height: 2rem;
    padding: 0;
}

.calendar-date-disabled {
    color: gray;
}

.calendar-date-selected {
    color: #646cff;
}

.calendar-date-disabled-selected {
    color: #7d82e0;
}